<!-- <div class="container">
  <p class="bg-white m-4 w-">
    hello child
  </p>
  <h1>parentdata:{{parentData}}</h1>


</div>
<div class="container bg-white">
  <div class="row">
    <div class="col-lg-4 py-5" *ngFor="let item of parentname">
      <span class="text-warning">{{item.size}}</span>
      <p>{{item.name}}</p>

      <div class="nspabk">
        <div class="nspa " [class]="item.nspa" >
          <div class="nspa" [class]="item.color"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container bg-info p-5">
  <div class="row">
    <div class="col-lg-4" *ngFor="let item of familymeber">
      <img [src]="item.imgn" class="img-fluid" alt="">
      <p>{{item.name}}</p>
      <span>العمر:{{item.age}}</span>
    </div>
  </div>
</div>
<div class="container">
  <input type="text" [(ngModel)]="data" (keyup)="sentData.emit(data)">
  <hr>
  <p>{{data}}</p>
  <hr>
</div>
<ng-content #name></ng-content>

<div class="container bg-warning">
  <ng-content select=".btn"></ng-content>

</div>

<div class="py-5 bg-info">
  <h1>{{childcheck}}</h1>
</div> -->
