<!-- <div class="container">
  <div class="p bg-danger">
<button (click)="getChildData()" >click me!</button>
<hr>
<h1>{{result}}</h1>
<hr>

<hr color="red"> -->

<!-- <h2>data : {{inCommingData}}</h2> -->
<!-- <hr> -->
<!-- <div class="" *ngFor="let item of itemn"> -->
      <!-- <app-child [parentname]="'75'"  [parentData]="itemn" [familymeber]="family" (sentData)="inCommingData=$event" [childcheck]="senddatac">
<button class="btn btn-info">click</button>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ex nisi officia, labore, saepe laborum provident facilis fuga voluptate rerum doloremque nostrum sed non inventore culpa ad totam deleniti dignissimos!</h1>
      </app-child>
    </div> -->
    <!-- <h1 #pargaph>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta cum magni repellat excepturi consequuntur, ratione dolore suscipit, quibusdam ipsum rem aspernatur eos, optio nisi impedit! Voluptas dicta ab placeat error.</h1>
    </div>
  </div> -->
  <!-- <button (click)="counter=counter+1" >+</button>
  <button (click)="counter=counter-1">-</button>
  <h1 min="1">
        {{counter}}
  </h1>
  <input type="text"[(ngModel)]="counter"> -->
  <!-- <h2>{{isMeber()}}</h2>
  <div  *ngFor="let item of imgpath" class="mx-4" [class]="item.class">
    <img [src]="item.url?item.url:'assets/frist.jpg'"class="img-fluid" alt="">
  </div> -->



  <!-- <div class="py-5 container bg-info">
    <input type="text" #bluename>
    <button (click)="senddatac=bluename.value">send data</button>

    <div class="bg-success p-4" *ngIf='senddatac > 50'>
      <p>{{bluename?.value}}</p>
    </div>
    <div class="bg-warning p-4" *ngIf="senddatac < 50">
      <p>{{bluename?.value}}</p>
    </div> -->

    <!-- <div [ngSwitch]="bluename?.value">
    <div *ngSwitchCase="90">
      <div class="bg-success p-4" >
        <p>{{bluename?.value}}</p>
      </div>
    </div>
    <div *ngSwitchCase="50">
      <div class="bg-warning p-4" >
        <p>{{bluename?.value}}</p>
      </div>
    </div>
    <div *ngSwitchDefault>
      <div class="bg-dark text-white p-4">
     <div class="alert alert-primary" role="alert">
       <strong>primary</strong>
     </div>
      </div>
    </div>
    </div> -->
  <!-- </div> -->

  <!-- <ng-template #imgs>


  <ng-container  *ngFor="let item of imgpath ;let  i = index " >

    <img *ngIf="i >= 1" [src]="item.url"class="img-fluid" alt="">
  </ng-container>
  </ng-template>
  <ng-container [ngTemplateOutlet]="imgs"></ng-container> -->

  <!-- علشان اعمل inputيكتب ارقام بس بدون حروف -->

  <!-- <input type="text" appHi required  [(ngModel)]="model" name="Amount" class="form-control" placeholder="Amount">
  <input type="text" appWrite required   [(ngModel)]="asa" name="Amount" class="form-control" placeholder="حروف">

  <h3>{{date |date}}</h3>
  <h3>{{date |date :'short'}}</h3>
<hr color="orange">
<input type="text" #filter [(ngModel)]="search">
      <ul>
        <li *ngFor="let item of test1 |filter:search">
      {{item.name}}
        </li>
      </ul> -->
